<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_sans_texte"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanMed"
        tools:targetApi="31">

        <activity
            android:name=".SignalementSendActivity"
            android:exported="false" />
        <activity
            android:name=".VerifMedicament"
            android:exported="false" />
        <activity
            android:name=".SelectionPharmacieActivity"
            android:exported="false" />
        <activity
            android:name=".CIPCodeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ScanMed" />

        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".HomeMenuActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".QRCodeScannerActivity" />

        <activity android:name=".GuideFragment"></activity>

        <activity android:name=".HelpCenterFragment"></activity>

        <activity android:name=".Fragment_edit_picture"></activity>

        <activity android:name=".Terms_of_use"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>